{% extends "layoutinflate.html" %}
{% block body %}	
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename='img/home-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Panel</h1>
            <span class="subheading">Manage your posts and change them</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
		<h1>Basic Action</h1>
		<div class="">
			<a href="/dashboard" class="btn btn-primary">Dashboard Home</a>
			<a href="/logout" class="btn btn-primary">Logout</a>
		</div>
		<hr>
		<h1>Add/Edit Posts</h1>
		<form name="sentMessage" action="/edit/{{Id}}" method="post" id="contactForm" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Title" value="{{post.title}}" name="title" id="title" required data-validation-required-message="Please enter your name.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Tagline</label>
              <input type="text" class="form-control" placeholder="Tagline" value="{{post.tagline}}" name="tagline" id="tagline" required data-validation-required-message="Please enter your email address.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Slug</label>
              <input type="text" class="form-control" placeholder="Slug" value="{{post.slug}}" name="slug" id="slug" required data-validation-required-message="Please enter your phone number.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content</label>
              <textarea rows="5" class="form-control" placeholder="Content" name="content" id="content" required data-validation-required-message="Please enter a message.">{{post.content}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
		  <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Image File</label>
              <input type="text" class="form-control" placeholder="Image" value="{{post.img_name}}" name="img_file" id="img_file" required data-validation-required-message="Please enter your phone number.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}


